.input-wrapper-container {
  background-color: #f8f8fc;
  @apply rounded-lg border-ligh-dark border;
}
.select-input-control {
  @apply flex items-center border-b justify-between cursor-pointer py-4 px-6 text-text-base;
}
.select {
  z-index: 9999;
  position: relative;
  transition: all 0.5s ease-in-out;
  @apply bg-bg-input w-full h-0 overflow-y-auto;
}

.select.active {
  @apply h-52 relative z-50;
}

.select .item {
  @apply bg-bg-input py-4 px-6 relative border cursor-pointer;
}
.select .item:hover::after {
  content: "";
  width: 2px;
  @apply h-full bg-primary absolute left-0 top-0;
}

.icon {
  transition: all 0.5s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}
