<form
  class="py-14 px-16 bg-white rounded-lg"
  [formGroup]="teacherForm"
  (submit)="submit()"
>
  <h2 class="text-title font-semibold text-2xl border-b border-ligh-dark pb-4">Seus dados</h2>

  <app-input-text formControlName="name" label="Nome completo"/>
  <app-input-text formControlName="photo" label="Link da sua foto"/>
  <app-input-text formControlName="phone" label="Whatsapp"/>
  <app-text-area formControlName="biography" label="Biografia" />

  <div class="about-lesson mt-16">
    <h2 class="text-title font-semibold text-2xl border-b border-ligh-dark pb-4">Sobre a aula</h2>
      <app-select label="Matéria"/>   
  </div>
  <div class="relative z-10">
      <button>Enviar</button>
      <h2 class="text-title font-semibold text-2xl border-b border-ligh-dark pb-4">Sobre a aula</h2>
      <h2 class="text-title font-semibold text-2xl border-b border-ligh-dark pb-4">Sobre a aula</h2>
      <h2 class="text-title font-semibold text-2xl border-b border-ligh-dark pb-4">Sobre a aula</h2>
  </div>      
</form>
