<main>
  <div class="lg:w-11/12">
    <section class="grid grid-cols-1  place-items-center lg:items-center lg:grid-cols-12">
      <div class="mb-5 lg:col-span-5">
        <img class="logo-title mx-auto p-5 md:p-0 " src="assets/images/Proffy.svg" alt="" />
        <h1 class="text-lg lg:text-4xl w-full lg:w-80 text-secondary text-center lg:text-left ">Sua plaforma de estudos online.</h1>
      </div>
      <img class="logo lg:col-span-7" src="assets/images/lp-logo.svg" alt="" />
    </section>
    <section class="grid grid-cols-1 lg:grid-cols-2 items-center justify-between mt-0 lg:mt-20">
      <div class="my-5 grid grid-cols-2 gap-3">
        <app-lp-button
          icon="assets/images/study.svg"
          text="Estudar"
        ></app-lp-button>
        <app-lp-button
          icon="assets/images/Dar aulas.svg"
          text="Dar Aulas"
        ></app-lp-button>
      </div>
      <p class="text-xs text-secondary text-center lg:text-right">
        Total de 285 conexões já realizadas
      </p>
    </section>
  </div>
</main>
